.navbutton:hover{
    background-color: #64bbf1;
    color: #ffffff;
    font-weight: bold;
    transition-duration: 1s;
}

.imgshow:hover{
    margin-top: 2%;
    width: 40%;
    height: auto;
    transition-duration: 1s;
}

.imgvid:hover{
    width: 40%;
    height: auto;
    animation:anim 5s;
    -webkit-animation:anim 5s;
    animation-iteration-count:infinite;
}

.imgshow::after{
    margin-top: 0%;
    width: 40%;
    height: auto;
    transition-duration: 1s;
}

.imgvid::after{
    width: 30%;
    height: auto;
    transition-duration: 1s;
}