html {
        background-color:#442463;
    }
    
    body {
        width:100%!important;
        margin:auto;
        font-family:'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
        background-color:#442463;
    }
    
    .col-sm-4 {
        padding:0!important;
        height:117px;
    }
    
    #headerimg {
        width:100%;
        height:117px;
    }
    
    .sitename {
        color:#fff;
        font-weight:700;
        text-align:center;
        font-size:3vw;
        padding-top:3%
    }
    
    .midheader {
        background-color:#3a1f55;
    }
    
    .rightheader {
        background-color:#33add2;
    }
    
    nav {
        height:100%;
    }
    
    nav > a > button {
        width:100%;
        height:25%;
        background-color:#87cefa;
        border:1px solid #000;
        color:#000;
    }
    
    #siteinfo {
        width:80%;
        background-color:#33add2;
        margin:7% 10%;
        height:auto!important;
        border-radius:15px
    }
    
    .sitetext {
        font-size:25px;
        padding:15px
    }
    
    #sitelist {
        font-size:20px;
        padding-bottom:15px
    }
    
    #sitelist>li {
        font-weight:700;
        font-size:17px
    }
    
    #platforminfo {
        width:80%;
        background-color:#33add2;
        margin:5% 10%;
        height:auto!important;
        border-radius:15px
    }
    
    .platforms {
        font-weight:700;
        font-size:17px
    }
    
    #gameinfo {
        width:80%;
        background-color:#33add2;
        margin:7% 10%;
        height:auto!important;
        border-radius:15px
    }
    
    footer {
        width:100%;
        padding:10px;
        text-align:center;
        font-size:15px;
        clear:both;
        background-color:#00f;
        color:#fff;
        font-weight:700
    }
    
    #geplrelea {
        width:80%;
        background-color:#33add2;
        margin:7% 10%;
        height:auto!important;
        border-radius:15px
    }
    
    .pageinfo {
        text-align:center;
        font-weight:700;
        font-size:16px;
        padding:10px
    }
    
    #gepltabel {
        width:100%;
        margin:auto;
        border-radius:15px;
        margin:4%
    }
    
    .imgshow {
        width:20%;
        height:auto;
        margin-top:3%
    }
    
    .gtextinfo {
        text-align:center;
        font-weight:700;
        font-size:3rem
    }
    
    #contactinfo,#showgameinfo {
        width:80%;
        background-color:#33add2;
        margin:10%;
        height:auto!important;
        border-radius:15px
    }
    
    #contactinfo > h1 {
        text-align:center
    }
    
    #formulier {
        text-align:center
    }
    
    .forminput {
        margin-bottom:20px;
        resize:none
    }
    
    #img_contact {
        display:block;
        margin-left:auto;
        margin-right:auto;
        width:60%;
        padding-top:4%
    }
    
    #game1table {
        margin:10px
    }
    
    .imgvid {
        width:40%;
    }