<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Frontend_Keuzedeel</title>
        <link rel="stylesheet" href="CSS/bootstrap.css" />
        <link rel="stylesheet" href="CSS/styling.css" />
        <link rel="stylesheet" href="CSS/functions.css" />
        <meta name="description" content="Game-site toont games die uit zijn maar ook games die binnenkort gegereleased worden.">
        <meta name="keywords" content="Game-site, Platforms, PC, XBOX, Playstation, Nitendo Switch, Games, Release, Bestaand, Informaite over games, games">
    </head>
    <body>
        <header class="bg-secondary">
            <div class="leftheader col-sm-4">
                <img v-bind:src="Image" id="headerimg" class="rounded"/>
            </div>
            <div class="col-sm-4 midheader">
                <h1 class="sitename">Game Site</h1>
            </div>
            <div class="rightheader col-sm-4">
                <nav>
                    <a class="navbutton" href="index.html"><button><strong>Home</strong></button></a>
                    <a href="bestaande-games.html"><button>Bestaande games</button></a>
                    <a href="geplande-releases.html"><button>Geplande releases</button></a>
                    <a href="contact.html"><button>Contact</button></a>
                </nav>
            </div>
        </header>

        <main id="siteinfo" class="col-sm-4">
            <p class="sitetext">Welkom op de game site!<br />
                We verkopen verschillende soorten games voor verschillende platforms.<br />
                Voor elke platform kunt u het volgende zien:
            </p>
                <ul id="sitelist">
                    <li v-for="info in informatie[0].Games">
                        {{ info }}
                    </li>
                </ul>
        </main>
        <main id="platforminfo" class="col-sm-4">
            <p class="sitetext">De games die aangeboden worden op de site, zijn niet specifiek voor een bepaald platform.<br />
                We bieden games aan voor de volgende platforms:</p>
                <ul id="sitelist">
                    <li class="platforms" v-for="info in informatie[0].Platforms">
                        {{ info }}
                    </li>
                </ul>
        </main>
        <main id="gameinfo" class="col-sm-4">
            <p class="sitetext">Per game kunt u de volgende informatie zien:</p>
                <ul id="gamelist">
                    <li class="platforms" v-for="gain in informatie[0].Games">
                        {{ gain }}
                    </li>
                </ul>
        </main>
    </body>
    <footer>
        <p id="footertext">
            {{ FooterText }}
        </p>
    </footer>
    <script src="JS/vue.js"></script>
    <script src="JS/JavaScript.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="JS/bootstrap.js"></script>
</html>